<header id = "header">
  <div class = "header-contents">
    <div class="header-content">
    <div class = "header-logo">LttS</div>
    <% if user_signed_in? %>
      <%= link_to "POST REVIEW", new_review_path, class:"new-review" %>
      <%= link_to "LOG OUT", destroy_user_session_path, class: "logout", method: :delete %>
    <% else %>
      <%= link_to "LOG IN", new_user_session_path, class: "login" %>
      <%= link_to "SIGN UP", new_user_registration_path, class: "user-registration" %>
    <% end %>  
    </div>
  </div>
</header>